@media screen and (min-width: 300px) {
  header {
    background: rgba(34, 38, 46, 0.9);
    #header_nav {
      padding: 2px 10px 2px 8px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      nav {
        ul {
          display: flex;
          a {
            color: white;
            padding: 0 20px;
          }
        }
      }
    }
    .header_title {
      a {
        text-decoration: none;
        color: #30b5ef;
      }
    }
  }
}

@media screen and (min-width: 300px) {
  #container {
    padding: 14px 18px 18px;
    margin-top: 4px;
    width: 100%;
    #main {
      padding-left: 200px;
      #sidecontent {
        padding-top: 10px;
        width: 200px;
        margin-left: -200px;
        float: left;
        #sidemeun{
          padding-right: 6px;
          height: 100%;
          border-right: 1px solid #ddd;
        }
      }
      .main-body {
        width: 100%;
        float: left;
        padding: 10px 18px 20px 20px;
      }
      .card {
        margin-top: 100px;
        margin-left: 100px;
        width: 350px;
        box-shadow: 0 2px 5px #ccc;
      }
    }
  }
}