#header_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

#header_nav nav ul {
  display: flex;
}

.header_title a {
  text-decoration: none;
  color: #30b5ef;
}

